
h1{
   font-size:35px;
   color:rgb(208, 43, 226);
   font-family:'Times New Roman', Times, serif;
   ;
}
body{
color:maroon;
font-family:Arial, Helvetica, sans-serif;
font-weight: bold;
font: size 12px;
}
#message-button{color:rgba(90, 0, 0, 0.867);
   margin:25px;
   position:center;
   background-color:rgb(16, 212, 159);
   border-radius:15px;
   border:none;
   align-self:center      }
   #more-button{color:rgba(0, 90, 27, 0.867);
      margin:25px;
      position:center;
      background-color:rgb(212, 16, 212);
      border-radius:15px;
      border:none;
      align-self:center      }
   p{color:maroon;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

     font-weight: lighter;

   }