.work{
    
    background-color: rgb(48, 185, 35);
    min-height: 100vh;
}

.login h1{
    font-family: 'Roboto Slab', serif;

    color: black;
    
}
.login h4{
    font-family: 'Roboto Slab', serif;
    text-decoration:none;
    color: black;
}
*{
    margin: 0;
    padding: 0;
    
}
.login input{
    border-radius: 12px;
    border-color: black;
}

