.work{
    
    background-color: rgb(48, 185, 35);
    min-height: 100vh;
}

.login h1{
    font-family: 'Roboto Slab', serif;

    color: black;
    
}
.login h4{
    font-family: 'Roboto Slab', serif;
    text-decoration:none;
    color: black;
}
*{
    margin: 0;
    padding: 0;
    
}
.login input{
    border-radius: 12px;
    border-color: black;
}
.visit{text-decoration: none;
    color:rgb(25, 20, 20);
    border: 2px solid rgb(11, 117, 2);
    padding: 12px 34px;
    background:white ;
    position: relative;
    cursor: pointer;}
.visit:hover{border: 1px solid #39f436;
    background: #007128;
    transition: 1s}
    .visit a{
        text-decoration: none;
    color:rgb(25, 20, 20);
    font-size: 13px;
    }


