    .full{  font-family: 'Roboto Slab', serif;
    text-decoration:blueviolet;
    background-image:url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    opacity: 13;
 }
*{
    margin: 0;
    padding: 0;
    
    color:rgba(42, 157, 31, 0.698);
}

.mus1 img{
    border-radius: 123px;
    
}
.mus2 img{
    border-radius: 123px;
    
}.mus3 img{
    border-radius: 123px;
    
}.mus4 img{
    border-radius: 123px;
    
}
.full button{
    text-decoration: none;
    color:rgb(25, 20, 20);
    border: 2px solid rgb(11, 117, 2);
    padding: 12px 34px;
    background:white ;
    position: relative;
    cursor: pointer;
    
}
.full button:hover{
    border: 1px solid #39f436;
    background: #007128;
    transition: 1s
}


