*{
    margin: 0;
    padding: 0;
}
.header{
    background-image: url(images/backgroundt.jpeg);
    background-size: cover;
    background-repeat: none;
   min-height:100vh;
}
.nav{ max-width:45vh;
    display: inline-block;
}
.nav ul{

}
.nav ul li { font-size: 18px;
    font-family: cursive;
    text-decoration: none;
    


}

.button1{background-image:url(images/commissions.jpg) ;
    height: 256px;
    width:256px;
    background-size: cover;
}
.button2{background-image:url(images/contact.jpg) ;
    height: 256px;
    width:256px;
    background-size: cover;
}
.button3{background-image:url(images/socials.png) ;
    height: 256px;
    width:256px;
    background-size: cover;
}
.nav ul li:hover{color:whitesmoke ;
    transition:1s ;
    background-color: lightskyblue;}
.info{
    text-align: right;
    right: 20%;
}
.info h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-size:65px ;
    color:black ;
   
}
.info p{
    font-family:'caveat'cursive ;
    font: size 15px; ;
    color:black ;
   
}

.final h1{font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-size:43px;}
.button4{ display: inline-block;
    text-decoration: none;
    color:red;
    border: 2px solid white;
    padding: 12px 34px;
    background: transparent;
    align-items: center;
    cursor: pointer;}
.button4:hover{
    color:whitesmoke ;
    transition:1s ;
    background-color: lightskyblue;
}
.image{
    position: absolute;
    left: 65%;
    top: 50%;
}